@import 'Initializer.scss';
@import 'variables.scss';
 /* Main CSS */

html {
    font-size: 16px;
    color: #ffffff;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;

    @include desktop {
        align-items: unset;
    };
}

header {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    background-color: black;

    @include tablet {
        flex-direction: row;
        margin-top: 7vw;
    };

    @include desktop {
        margin-top: 0vw;
    }
}

#headerSelected {

    transition: all 1s;
    
    @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 0vw;
    }

    @include desktop {
        // grid-template-columns: repeat(1, 1fr);
    }
}

main {
    width: 100%;
}

.logoContainer {
    margin-top: 10vw;
    grid-column: 1;
    grid-row: 1;
    width: $logo;
    height: $logo;

    @include tablet {
        width: $logo*.75;
        height: $logo*.75;
    }

    @include desktop {
        width: $logo*.50;
        height: $logo*.50;  
        margin-left: 3vw;
    }
}

#logoContainerSelected {

    transition: all 1s;

    @include tablet {
        width: ($logo*.25);
        height: ($logo*.25);
        margin: 4vw auto 0rem auto;
        align-content: center;
    }

    @include desktop {
        margin: 4vw 0vw 0vw 3vw;
        width: ($logo*.15);
        height: ($logo*.15);
    }
}

.logo {
    width: 100%;
    height: 100%;
}

.selectorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 4vw;
    margin-top: 3vw;
    grid-column: 2;

    @include tablet {
        margin-top: 13vw;
        font-size: 3vw;
        align-items: unset;
    };

    @include desktop {
        grid-column: 1;
        grid-row: 1;
        font-size: 1.5vw;
        margin-left: 5vw;
    }
}

#selectorContainerSelected {

    @include tablet {
        align-items: unset;
        margin-top: 2rem;
    }

    @include desktop {
        align-items: unset;
        margin-left: 15vw;
    }
}

.selector {
    width: $selectorW;
    height: $selectorH;
    background-color: white;
    margin-top: 4vw;
    font-size: 3vw;

    @include tablet {
        width: $selectorW*.6;
        height: $selectorH*.7;
        margin-top: 2vw;
        font-size: 2vw;
    };

    @include desktop {
        font-size: 1.4vw;
        width: $selectorW*.4;
        height: $selectorH*.37;
    }
}

// #selectorDesktopSelected {
//     @include desktop {
//         width: $selectorW*.4;
//         height: $selectorH*.5;
//     }
// }

.articlesContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, 1fr);
    width: 100%;
    margin-top: 10vw;

    @include tablet {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin-top: 4vw;
    };

    @include desktop {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
    };
}

.failToLoad {
    margin: 10vw;
}

.loader {
    grid-column: 2;
    // width: 50%;
    // height: 50%;

    // @include tablet{
    //     width: 100%;
    //     height: 100%;
    // }
}

.grid-item {
    height: $gridItem;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include tablet {
        height: $gridItem*.8;
    }

    @include desktop {
        height: $gridItem*.5;
    }
}

a {
    position: relative;
    color: inherit;
}

img {
    width: 100%;
    height: auto;
}

a:hover > .shadowBox {
    opacity: 0;
    background-color: violet;
}

.shadowBox {
    position: absolute;
    height: auto;
    background-color: rgba($color: #000000, $alpha: .4);
    z-index: 5;
    bottom: 0%;
    font-size: 4vw;
    opacity: 1;

    @include tablet {
        font-size: 2.4vw;
    }

    @include desktop {
        font-size: 1.5vw;
    }
}

.article {
    padding: 1vw;
}

footer {
    margin: 11vw auto;
    color: $footerText;
    font-size: 4vw;

    @include tablet {
        margin-top: 15vw;
        font-size: 2.5vw;
    }

    @include desktop {
        margin: 11vw 0vw 11vw 3vw;
        font-size: 1.3vw;
    }
}

#footerSelected {

    transition: all 1s;

    @include tablet {
        margin: 5vw auto;
    }
}
