$logo: 40vw;
$selectorW: 25vw;
$selectorH: 5vw;

$gridItem: 65vw;

$baseFontColor: #ffffff;
$footerColor: #c2c2c2;
$baseFontSize: 16px;
$selectorFont: 3vw;
$shadowboxFont: 4vw;
$CommonFontSize: 4vw;
$CommonFontSizeTablet: 3vw;
$CommonFontSizeDesktop: 1.5vw;

@mixin flexCenterColumn {
    display: flex;
    align-items: center;
    flex-direction: column;
};

$tabletWidth: 600px;
$desktopWidth: 1250px;

@mixin tablet {
    @media screen and (min-width: $tabletWidth) {
        @content;
    };
};

@mixin desktop {
    @media screen and (min-width: $desktopWidth) {
        @content;
    };
};