/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**
 * FONTS
 */

 /* Main CSS */

html {
    font-size: 16px;
    color: #ffffff;
    font-style: 'Open Sans Light';
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    background-color: black;
}

header {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    height: 100%;
    background-color: black;
}

#logo {
    margin-top: 15vh;
    width: 30vh;
    height: 30vh;
}

#selectorContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 2.5vh;
    margin-top: 2vh;
}

#selector {
    width: 80px;
    height: 20px;
    background-color: white;
    margin-top: 2vh;

}


#mobileIntro {
    /* height: 100%;
    width: 100%; */
}

footer {
    margin-top: 25vh;
    color: #c2c2c2;
    font-size: 2.5vh;
}

@media all and (min-width: 600px) {

    header {
        flex-direction: row;
    }

    #logoContainer {
        margin-top: 15vh;
    }

    #selectorContainer {
        margin-top: 25vh;
    }

    footer {
        margin-top: 35vh;
    }


}